<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>bulkUpload</directory>
  <name>批量上传</name>
  <author>admin</author>
  <version>V4.6.1</version>
  <description>只适合V4.6.1版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}bulkUpload(
	      [[id] COUNTER PRIMARY KEY
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql><![CDATA[
      Drop Table {databaseprefix}bulkUpload
    ]]></sql>
  </uninstall>
  <urls>
  </urls>
  <menu>
    <nav name="plugin_bulkUpload" title="批量上传" url="index.aspx" action="Show,View,Add,Edit,Delete,Audit" />
  </menu>
</plugin>